.user-profile{
    width: 300px;
    max-width: 70vw;
    display: flexbox;
    text-align: center;
    margin-bottom: 70px;

}
.avatar{
    margin-top: 1rem;
    height: 150px;
    /* margin-bottom: -1rem; */
}
.bottom-info-bar{
    position: fixed;
    height: 70px;
    background-color: black;
    width: 300px;
    max-width: 70vw;
   
    color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
}
.drawer-item{
    width: 100%;
    font-family: 'Candal', sans-serif !important;

}
