
.flip-card {
    background-color: transparent;
    height: 440px;
    width: 300px;
    perspective: 2000px; 
    display: inline-block;
    position: relative;
    margin: 2rem;
    
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
  }
  .blur-shadow{
    /* filter: drop-shadow(0 0 0.75rem rgb(17, 1, 6)); */
  }
  


  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
  }


  .rotate {
    animation: rotate-keyframes 1s forwards ;
   }
   
   @keyframes rotate-keyframes {
    from {
     transform: rotateY(0deg);
    }
   
    to {
     transform: rotateY(180deg);
    }
   }

   .rotate-forward{
    animation: rotate-forward-keyframes 1s forwards;
   }
   
   @keyframes rotate-forward-keyframes {
    from {
     transform: rotateY(180deg);
    }
   
    to {
     transform: rotateY(0deg);
    }
   }

 