body{
  padding: 0;
  margin: 0;
  font-family: 'Candal', sans-serif !important;
  background-color: #415258;

}

.flex-display{
  display: flex;
  justify-content: space-around;
}

.playground{
  padding-top: 10vh;
  display: flexbox;
  text-align: center;
}
.loader{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}





@media (max-width:600px) {
  .profile-page{
    flex-direction: column;
  }
  
}