body{
  padding: 0;
  margin: 0;
  font-family: 'Candal', sans-serif !important;
  background-color: #415258;

}

.flex-display{
  display: flex;
  justify-content: space-around;
}

.playground{
  padding-top: 10vh;
  display: flexbox;
  text-align: center;
}
.loader{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-profile{
  display: flexbox;
}
.collections-background{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
  /* opacity: 0.2; */

}
.homepage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;


}

.link-button{
  margin: 2vh;
  text-decoration: none;
  
}




@media (min-width:600px) {

  
}