body{
  padding: 0;
  margin: 0;
  font-family: 'Candal', sans-serif !important;
  background-color: #415258;

}

.flex-display{
  display: flex;
  justify-content: space-around;
}

.playground{
  padding-top: 10vh;
  display: flexbox;
  text-align: center;
}
.loader{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card{
  z-index: 0;
  /* border-radius: 10px; */
  position: relative;
  height: 440px;
  width: 300px;
  /* background-color: blanchedalmond; */
  margin-top: 5vh;
  display: inline-block;
  margin: 2rem;
  text-align: start;
}
.flip-card-inner {
  
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transform-style: preserve-3d;
}
.rotate {
  animation: rotate-keyframes 6s forwards;
 }
 
 @keyframes rotate-keyframes {
  from {
   transform: rotateY(0deg);
  }
 
  to {
   transform: rotateY(180deg);
  }
 }






@media (max-width:600px) {
  .profile-page{
    flex-direction: column;
  }
  
}
